/* header */
.header {
    padding-bottom: 7rem;
}

.header-inner {
    text-align: center;
}

.login-logo {
    display: inline-block;
    height: 5rem;
    margin-top: 12rem;
    font-size: 4rem;
    font-weight: 700;
    transition: .3s;
}

.logo:hover {
    color: #8DB596;
}

/* login main */
.login-main .container {
    text-align: center;
}

.login-wrap {
    width: 60rem;
    margin: 0 auto;
}

.menu-wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.menu-item {
    position: relative;
    display: table-cell;
    height: 7rem;
    background: #BEDBBB;
    border: .1rem solid #8DB596;
    box-shadow: 0 5px 8px 0 rgb(190, 219, 187 / 4%);
    border-bottom: 0;
    padding-top: 1rem;
    vertical-align: top;
    text-align: center;
    z-index: 2;
    transition: .3s;
}

.on {
    background: none;
}

.on label {
    color: #333;
}

.menu-main,
.menu-service,
.menu-user-pay {
    position: relative;
    display: block;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 700;
}

.panel-wrap {
    position: relative;
    border: .1rem solid #8DB596;
    border-top: 0;
    box-shadow: 0 5px 8px 0 rgb(190, 219, 187 / 4%);
    z-index: 3;
}

.panel-inner {
    padding: 3rem 7rem;
}

.login-info-wrap {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 2rem;
}

.login-info-wrap div {
    position: relative;
    display: inline-block;
    width: 100%;
}

.login-info-wrap div::before {
    position: absolute;
    left: 1rem;
    width: 3rem;
    height: 3rem;
    font-family: 'Font Awesome 5 Free';
    font-size: 2rem;
    line-height: 1.5;
}

.group-input,
.company-input,
.id-input {
    padding-bottom: 1rem;
}

.group-input::before {
    content: '\f0ac';
    font-weight: 900;
}

.company-input::before {
    content: '\f1ad';
    font-weight: 500;
}

.id-input::before {
    content: '\f007';
    font-weight: 500;
}

.pw-input::before {
    content: '\f084';
    font-weight: 900;
}

.login-info-wrap div input {
    padding-left: 3rem;
    width: 90%;
}

.btn-delete {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: none;
    border: 0;
    font-size: 1.5rem;
    line-height: 2;
    cursor: pointer;
}

.panel-bottom {
    position: relative;
    width: 100%;
    margin-top: 2rem;
}

.keep-wrap {
    float: left;
    width: 50%;
    height: 5rem;
    text-align: left;
}

.keep-wrap div {
    padding-left: 1rem;
    height: 2.5rem;
}

.keep-wrap div label {
    display: inline-block;
    height: 100%;
    padding-left: .5rem;
    line-height: 1.8;
}

.submit-wrap {
    position: relative;
    float: right;
    width: 50%;
    text-align: right;
}

.login-submit {
    width: 10rem;
    height: 5rem;
    background: #8DB596;
    cursor: pointer;
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: 0.05rem;
    transition: .3s;
}

.login-submit:hover {
    background: #92817A;
}

.find-wrap {
    position: relative;
    width: 100%;
    margin-top: 2rem;
}

.find-wrap li {
    position: relative;
    float: left;
    width: 33.33%;
}

.find-wrap li::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: .1rem;
    height: 1rem;
    background: #8DB596;
}

.find-wrap li:last-child::after {
    content: none;
}

.find-wrap li:hover a {
    text-decoration: underline;
}

/* footer */
.copy {
    margin-top: 7rem;
}
